{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "FreeAgent",
        "description": "FreeAgent"
    },
    "host": "api.freeagent.com",
    "basePath": "/v2",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/token_endpoint": {
            "post": {
                "summary": "Refresh access token",
                "description": "Request an new Access Token using an existing Refresh Token (you'll need to provide a Refresh Token in the request body params)\n\nhttps://dev.freeagent.com/docs/oauth/#refreshing-the-access-token",
                "operationId": "RefreshAccessToken",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "key"
                                    },
                                    "value": {
                                        "type": "string",
                                        "description": "value"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "description"
                                    }
                                },
                                "default": {
                                    "key": "refresh_token",
                                    "value": "",
                                    "description": "The refresh token to refresh."
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/clients": {
            "get": {
                "summary": "List all clients",
                "description": "List all clients",
                "operationId": "ListAllClients",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/account_managers": {
            "get": {
                "summary": "List all account managers",
                "description": "List all account managers",
                "operationId": "ListAllAccountManagers",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },

        "/categories": {
            "get": {
                "summary": "List Categories",
                "description": "List Categories",
                "operationId": "ListCategories",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/contacts": {
            "post": {
                "summary": "Create Contact",
                "description": "Create Contact",
                "operationId": "CreateContact",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contact": {
                                    "type": "object",
                                    "properties": {
                                        "first_name": {
                                            "type": "string",
                                            "description": "first_name"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "description": "last_name"
                                        },
                                        "email": {
                                            "type": "string",
                                            "description": "email"
                                        }
                                    },
                                    "description": "contact"
                                }
                            },
                            "default": {
                                "contact": {
                                    "first_name": "Frederick",
                                    "last_name": "Testington",
                                    "email": "fred@testingtonandsons.example.com"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            },
            "get": {
                "summary": "List Contacts",
                "description": "List Contacts",
                "operationId": "ListContacts",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/contacts/{id}": {
            "delete": {
                "summary": "Delete Contact",
                "description": "Delete Contact",
                "operationId": "DeleteContact",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contact": {
                                    "type": "object",
                                    "properties": {
                                        "first_name": {
                                            "type": "string",
                                            "description": "first_name"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "description": "last_name"
                                        },
                                        "email": {
                                            "type": "string",
                                            "description": "email"
                                        }
                                    },
                                    "description": "contact"
                                }
                            },
                            "default": {
                                "contact": {
                                    "first_name": "Frederick",
                                    "last_name": "Testington",
                                    "email": "fred@testingtonandsons.example.com"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            },
            "get": {
                "summary": "Show Contact",
                "description": "Show Contact",
                "operationId": "ShowContact",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            },
            "put": {
                "summary": "Update Contact",
                "description": "Update Contact",
                "operationId": "UpdateContact",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contact": {
                                    "type": "object",
                                    "properties": {
                                        "country": {
                                            "type": "string",
                                            "description": "country"
                                        }
                                    },
                                    "description": "contact"
                                }
                            },
                            "default": {
                                "contact": {
                                    "country": "France"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/transitions/mark_as_sent": {
            "put": {
                "summary": "Mark invoice as sent",
                "description": "Mark invoice as sent",
                "operationId": "MarkInvoiceAsSent",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/transitions/mark_as_cancelled": {
            "put": {
                "summary": "Mark invoice as cancelled",
                "description": "Mark invoice as cancelled",
                "operationId": "MarkInvoiceAsCancelled",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/transitions/mark_as_scheduled": {
            "put": {
                "summary": "Mark invoice as scheduled",
                "description": "Mark invoice as scheduled",
                "operationId": "MarkInvoiceAsScheduled",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/transitions/mark_as_draft": {
            "put": {
                "summary": "Mark invoice as draft",
                "description": "Mark invoice as draft",
                "operationId": "MarkInvoiceAsDraft",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices": {
            "post": {
                "summary": "Create Invoice",
                "description": "Create Invoice",
                "operationId": "CreateInvoice",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "invoice": {
                                    "type": "object",
                                    "properties": {
                                        "contact": {
                                            "type": "string",
                                            "description": "contact"
                                        },
                                        "dated_on": {
                                            "type": "string",
                                            "description": "dated_on"
                                        },
                                        "due_on": {
                                            "type": "string",
                                            "description": "due_on"
                                        },
                                        "currency": {
                                            "type": "string",
                                            "description": "currency"
                                        },
                                        "omit_header": {
                                            "type": "boolean",
                                            "description": "omit_header"
                                        },
                                        "always_show_bic_and_iban": {
                                            "type": "boolean",
                                            "description": "always_show_bic_and_iban"
                                        },
                                        "payment_terms_in_days": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "payment_terms_in_days"
                                        }
                                    },
                                    "description": "invoice"
                                }
                            },
                            "default": {
                                "invoice": {
                                    "contact": "{{url}}/contacts/:id",
                                    "dated_on": "2019-08-18",
                                    "due_on": "2019-09-18",
                                    "currency": "GBP",
                                    "omit_header": false,
                                    "always_show_bic_and_iban": false,
                                    "payment_terms_in_days": 30
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            },
            "get": {
                "summary": "List Invoices",
                "description": "List Invoices",
                "operationId": "ListInvoices",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}": {
            "delete": {
                "summary": "Delete Invoice",
                "description": "Delete Invoice",
                "operationId": "DeleteInvoice",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            },
            "get": {
                "summary": "Show Invoice",
                "description": "Show Invoice",
                "operationId": "ShowInvoice",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            },
            "put": {
                "summary": "Update Invoice",
                "description": "Update Invoice",
                "operationId": "UpdateInvoice",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "invoice": {
                                    "type": "object",
                                    "properties": {
                                        "notes": {
                                            "type": "string",
                                            "description": "notes"
                                        }
                                    },
                                    "description": "invoice"
                                }
                            },
                            "default": {
                                "invoice": {
                                    "notes": "An example of some additional text."
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/timeline": {
            "get": {
                "summary": "Get invoice timeline",
                "description": "Get invoice timeline",
                "operationId": "GetInvoiceTimeline",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/pdf": {
            "get": {
                "summary": "Show Invoice as PDF",
                "description": "Show Invoice as PDF",
                "operationId": "ShowInvoiceAsPdf",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/send_email": {
            "post": {
                "summary": "Send Invoice Email",
                "description": "Send Invoice Email",
                "operationId": "SendInvoiceEmail",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "invoice": {
                                    "type": "object",
                                    "properties": {
                                        "email": {
                                            "type": "object",
                                            "properties": {
                                                "to": {
                                                    "type": "string",
                                                    "description": "to"
                                                },
                                                "from": {
                                                    "type": "string",
                                                    "description": "from"
                                                },
                                                "subject": {
                                                    "type": "string",
                                                    "description": "subject"
                                                },
                                                "body": {
                                                    "type": "string",
                                                    "description": "body"
                                                }
                                            },
                                            "description": "email"
                                        }
                                    },
                                    "description": "invoice"
                                }
                            },
                            "default": {
                                "invoice": {
                                    "email": {
                                        "to": "Test Contact <test_contact@example.com>",
                                        "from": "Our Company <us@company.com>",
                                        "subject": "Testing",
                                        "body": "Bison bison bison bison bison Bison bison"
                                    }
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoices/{id}/direct_debit": {
            "post": {
                "summary": "Take Payment using GoCardless Direct Debit Mandate",
                "description": "Only available for invoices which fit the following criteria:\n\n- The invoice must be sent\n- The invoice must have gocardless_preauth available and enabled as a payment method\n- The invoice must not have already had a payment taken for it",
                "operationId": "TakePaymentUsingGocardlessDirectDebitMandate",
                "parameters": [
                    {
                        "name": "id",
                        "default": "",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        },
        "/invoice_items": {
            "post": {
                "summary": "Create Invoice Item",
                "description": "Create Invoice Item",
                "operationId": "CreateInvoiceItem",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Content-Type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "application/json",
                        "description": "Accept"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "invoice": {
                                    "type": "string",
                                    "description": "invoice"
                                },
                                "invoice_item": {
                                    "type": "object",
                                    "properties": {
                                        "item_type": {
                                            "type": "string",
                                            "description": "item_type"
                                        },
                                        "quantity": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "quantity"
                                        },
                                        "price": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "price"
                                        },
                                        "description": {
                                            "type": "string",
                                            "description": "description"
                                        }
                                    },
                                    "description": "invoice_item"
                                }
                            },
                            "default": {
                                "invoice": "https://api.freeagent.com/invoices/1",
                                "invoice_item": {
                                    "item_type": "Hours",
                                    "quantity": 6,
                                    "price": 35,
                                    "description": "Fishing trip"
                                }
                            }
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                }
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "OAuth": {
            "type": "oauth2",
            "authorizationUrl": "https://your.authorization.url/here",
            "tokenUrl": "https://your.token.url/here",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "security": [
        {
            "OAuth": []
        }
    ],
    "tags": []
}